@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================= */

.wrapper {
  width: 634px;
  height: 797px;
  border-radius: 15px;
  background-color: #e6e6e6;
}

.container {
  padding: 44px 62px;
}

.form-adding {
  display: flex;
}

.form-adding__text {
  padding: 0 20px;
  width: 359px;
  height: 66px;
  border-radius: 10px 0px 0px 10px;
  background-color: white;
  outline: none;

  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.form-adding__btn {
  width: 160px;
  height: 65px;
  border-radius: 0px 10px 10px 0px;
  background-color: #fbcc28;

  font-family: "Inter", sans-serif;
  font-size: 18px;

  transition: all 0.3s ease;
}

.form-adding__btn:hover {
  cursor: pointer;
  background-color: #e9bd1f;
  border-radius: 0px 20px 20px 0px;
}

/* ================================= */

.task-list-container {
  margin-top: 22px;
  width: 514px;
  height: 621px;
  border-radius: 15px;
  background-color: white;
}

.task-list {
  padding: 20px;
  max-height: 613px;
  overflow: auto;
}

.task-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;

  width: 474px;
  height: 85px;
  border-radius: 10px;
  background-color: #ffebeb;
}

.task-list__item-done {
  text-decoration: line-through;
  background-color: #EBFFED;
}

.task-list__click-area {
  display: flex;
  align-items: center;
  padding: 30px 26px;
}

.task-list__click-area:hover {
  cursor: pointer;
}

.task-list__checkbox {
  width: 25px;
  height: 25px;
  margin-right: 17px;
}

.task-list__checkbox:hover {
  cursor: pointer;
}

.task-list__text {
  padding-bottom: 1px;
  max-width: 300px;
  overflow: hidden;
}

.task-list__btn {
  padding: 25px;
  background: none;
}

.task-list__btn:hover {
  cursor: pointer;
}
